:root {
    --accentColor: #3e3e3e;
    --font: 'Ubuntu', sans-serif;
}

body {
    background-color: #a40606;
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#userPhoto {
    width: 150px;
    height: 150px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
    -webkit-box-shadow: 1px 0 48px -11px rgba(0,0,0,0.22);
    -moz-box-shadow: 1px 0 48px -11px rgba(0,0,0,0.22);
    box-shadow: 1px 0 48px -11px rgba(0,0,0,0.22);
}

#userName {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.25;
    margin-bottom: 4rem;
    display: block;
    font-family: var(--font);
    width: auto;
    text-align: center;
    text-decoration: none;
}

@media only screen and (max-width: 403px) {
    #userName {
        width: 210px;
    }
}

.footer {
    color: rgba(255, 255, 255, 0.705);
    transition: 0.5s;
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 75px;
}

.footer:hover {
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

#links {
    max-width: 675px;
    width: 100%;
    display: block;
    margin: 27px auto;
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: var(--accentColor);
    font-family: var(--font);
    border-radius: 40px;
    text-align: center;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all .5s;
}

.link > span {
    margin-left: 5px;
}

.link svg {
    fill: var(--accentColor);
    transition: .5s;
}

#mastodon-icon > path:nth-child(1) {
    fill: var(--accentColor);
    transition: .5s;
}

#mastodon-icon > path:nth-child(2) {
    fill: #ffffff;
    transition: .5s;
}

.link:hover {
    background-color: #3498db;
    color: #ffffff;
    box-shadow: 0 0 31px rgba(0, 0, 0, 0.247);
    font-weight: 100;
    transition: .5s;
}

.link:hover svg {
    fill: #ffffff;
    transition: .5s;
}

.link:hover #mastodon-icon > path:nth-child(1) {
    fill: #ffffff;
    transition: .5s;
}

.link:hover #mastodon-icon > path:nth-child(2) {
    fill: var(--accentColor);
    transition: .5s;
}

/* Colors for social links*/

.hvr-grow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}
